{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("{{config.background_image}}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }

  .page__hero-caption {
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 2px 10px;
    color: #fff;
    font-family: Georgia, Times, serif;
    font-size: 0.9em;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: 4px 0 0 0;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 5px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
  <div class="page__hero-caption">Image Credit: NASA</div>
</div>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="alert alert-primary" role="alert">
      We are working on updating MiniConf posters with new versions on Underline. We appreciate your patience on this issue.
    </div>
</div>
</div>
<div class="row">
  <div class="col-md-7 col-sm-12 pr-5 lead">
    <p>Welcome to {{ config.display_name}}!<br><br>
      {{ config.display_name }} is hosted on a combination of underline.io, RocketChat, and MiniConf (this site)!<br>

      <dt>Program</dt>
      Currently, only the program for papers is on this site, which includes: main track papers (orals + in-person posters + virtual posters + spotlight), demo papers, and industry papers.

      <dt>How can I find my session?</dt>
      <ol>
        <li>Click "Papers".</li>
        <li>Search for your paper.</li>
        <li>Click on the title.</li>
        <li>Check the session assignment and time.</li>
      </ol>

      <dt>Volunteer</dt>
      We are actively working on getting this site ready for ACL 2023, if you want to help, <a href="https://github.com/EntilZha/acl-miniconf/issues">open an issue to volunteer</a>.

    </p>
    <dl>
      <dt>Schedule</dt>
      <dd>Use the <a class="text" href="schedule.html">Schedule</a> to find live sessions and set your timezone.
      </dd>
      <dt>RocketChat</dt>
      <dd>RocketChat for ACL 2023 is not ready yet, so do not try to login or create account, it will not work.
      </dd>

      {#
      <dt>Plenary Sessions</dt>
      <dd>Plenary Sessions include Keynote Talks and the Business meeting (pre-recorded talks + live Q&A), plus Awards
        ceremonies.
        <!-- Use the <a class="text" href="livestream.html" >Livestream</a> to watch live sessions in real time. -->
        Pre-recorded videos are available under <a class="text" href="plenary_sessions.html">Plenary Sessions</a>.
      </dd>
      #}

      {#
      <dt>Main Conference Papers</dt>
      <dd>Each <a class="text" href="papers.html">paper</a> has a pre-recorded 7-12 minute talk,
        one live Q&A video sessions (on Zoom or in Gather.Town) at different times, and a linked RocketChat channel (for
        chatting anytime with the author).
        This includes <a class="text" href="papers.html?filter=titles&program=demo&track=All+tracks">System
          Demonstrations</a> papers</a>.
      </dd>
      #}

      {#
      <dt>Tutorials and Workshops</dt>
      <dd>The 7 <a class="text" href="tutorials.html">tutorials</a> and 25 <a class="text"
          href="workshops.html">workshops</a> (November 19-20) are all included under conference registration.
        Some are fully pre-recorded, others include live sessions as well!
      </dd>
      <dt> Gather.town</dt>
      <dd>Join the virtual conference venue in <a class="text" href="{{ config.gather_town }}"
          target="_blank">Gather.Town</a>!
        Come <a
          href="https://emnlp2020-public.s3.amazonaws.com/guides/EMNLP+Virtual+Chair+Pre-event+communications.pdf">here</a>
        to learn a bit about accessing EMNLP events in Gather.Town, via 'Virtual Chair'."
      </dd>
      <dt> Sponsors</dt>
      <dd>Meet our <a class="text" href="sponsors.html">sponsors</a>.</dd>
      <dt>Chat</dt>
      <dd>Chat with attendees using various <a class="text" href="chat.html">RocketChat</a> channels!
        When you access RocketChat for the first time, click on 'Login via EMNLP2020 account' and your EMNLP2020
        credentials will be automatically used to log you in to RocketChat.</dd>
      <dt>Socials</dt>
      <dd>Meet new people using <a class="text" href="socials.html">social events</a> throughout the week.</dd>
      <dt> Help</dt>
      <dd> Look under <a class="text" href="about.html">Help</a> for FAQs and technical support.</dd>
      <dt> Social Media</dt>
      <dd> Use the hashtag <span
          style="font-weight: bold; font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;">{{
          config.social_tag }}</span></dd>
          #}
    </dl>
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-5 col-sm-12">
    <div class="text-center mt-4">
      <h5>Announcements</h5>
      <div class="col-md-12 col-xs-12">
        <div id="gitter" class="slp">
          <center>
            <iframe frameborder="0" src="https://{{config.chat_server}}/channel/announcements?layout=embedded"
              height="500px" width="100%"></iframe>
          </center>
        </div>
      </div>
    </div>

  </div>

</div>
<br />


<a class="text-muted">
  The <a href="https://github.com/entilzha/acl-miniconf">ACL2023 virtual conference website</a> is based on <a
  href="https://github.com/Mini-Conf/Mini-Conf">MiniConf</a> and adapted for ACL 2023 by Pedro Rodriguez and the virtual infrastructure committee.
  MiniConf was built by Hendrik Strobelt and Sasha Rush.
  It was extended by the amazing <a href="https://github.com/acl-org/acl-2020-virtual-conference">ACL 2020</a> and <a
    href="https://github.com/acl-org/emnlp-2020-virtual-conference">EMNLP2020</a> teams.

  {% endblock %}