{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("{{config.background_image}}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }

  .page__hero-caption {
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 2px 10px;
    color: #fff;
    font-family: Georgia, Times, serif;
    font-size: 0.9em;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: 4px 0 0 0;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 5px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
  <div class="page__hero-caption">Image Credit: NASA</div>
</div>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="alert alert-primary" role="alert" style='display: none;'>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-sm-12 pr-5 lead">
    <p><h5><strong>Welcome to {{ config.display_name}}!</strong></h5>
      {{ config.display_name }} is hosted on a combination of <a href="https://underline.io/events/395/reception">Underline.io</a>, <a href="https://acl.rocket.chat">RocketChat</a>, MiniConf (this site), and <a href="https://app.gather.town/app/5OscLswEEuYf2Psb/ACL2023">GatherTown</a>!<br>

    </p>
    <dl>
      <dt>Schedule</dt>
      <dd>Use the <a class="text" href="schedule.html">Schedule</a> to find live sessions and set your timezone.
      </dd>
      <dt>Chat</dt>
      <dd>Chat with attendees using <a class="text" href="chat.html">RocketChat</a> on web and mobile!
      <ol>
        <li>For options, use "Login with Underline"</li>
        <li>RocketChat on MiniConf/Underline: Try it out, login to the right!</li>
        <li><a href="https://acl.rocket.chat">RocketChat Web Login</a>: For full-screen chat!</li>
        <li><a href="https://www.rocket.chat/install#Apps">RocketChat Mobile</a>: Install the <a href="https://www.rocket.chat/install#Apps">iOS/Android app</a> and add the server <a href="https://acl.rocket.chat">acl.rocket.chat</a></li>
        <li>Join the discussion! Coordinate meetups!</li>
      </ol>
      </dd>
      <dt>How can I find my session?</dt>
      <ol>
        <li>Click "Papers".</li>
        <li>Search for your paper.</li>
        <li>Click on the title.</li>
        <li>Check the session assignment and time.</li>
      </ol>
    </dl>
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-5 col-sm-12">
    <div class="text-center mt-4">
      <h5>Announcements</h5>
      <div class="col-md-12 col-xs-12">
        <div id="gitter" class="slp">
          <center>
            <iframe frameborder="0" src="https://{{config.chat_server}}/channel/announcements?layout=embedded"
              height="500px" width="100%"></iframe>
          </center>
        </div>
      </div>
    </div>

  </div>

</div>
<br />


<a class="text-muted">
  The <a href="https://github.com/entilzha/acl-miniconf">ACL2023 virtual conference website</a> is based on <a
  href="https://github.com/Mini-Conf/Mini-Conf">MiniConf</a> and adapted for ACL 2023 by Pedro Rodriguez and the virtual infrastructure committee.
  MiniConf was built by Hendrik Strobelt and Sasha Rush.
  It was extended by the amazing <a href="https://github.com/acl-org/acl-2020-virtual-conference">ACL 2020</a> and <a
    href="https://github.com/acl-org/emnlp-2020-virtual-conference">EMNLP2020</a> teams.

  {% endblock %}