{% set active_page = "Organizers" %}
{% set page_title = "Organizers" %}
{% extends "base.html" %}

{% block heading %}
{{ components.section("Organizers") }}
<div class="text-muted text-center">
Also check out our
<a href="https://2020.emnlp.org/organizers/senior-program-committee" target="_blank">Senior Program Committee</a>
and
<a href="https://2020.emnlp.org/organizers/ethics-committee" target="_blank">Ethics Committee</a>.
</div>
{% endblock %}

{% block content %}

{{ components.organizergroup(committee) }}


{% endblock %}
