{% set page_title = paper.title %}
{% extends "base.html" %}

{% block head %}

{{ super() }}
<meta name="citation_title" content="{{paper.title}}" />
{% for author in paper.authors %}
<meta name="citation_author" content="{{author}}" />
{% endfor %}
<meta name="citation_publication_date" content="{{config.citation_date}}" />
<meta name="citation_conference_title" content="{{config.tagline|striptags|title}}" />
<meta name="citation_inbook_title" content="{{config.proceedings_title}}" />
<meta name="citation_abstract" content="{{paper.abstract}}" />
{% for keyword in paper.keywords %}
<meta name="citation_keywords" content="{{keyword}}" />
{% endfor %}
<meta name="citation_pdf_url" content="{{paper.pdf_url | default("")}}" />

<script src="static/js/persistor.js"></script>

<script>
  let paper_id = "{{ paper.id }}"

  function updateFavBtn(isFav){
    let favBtn = $('#favBtn');
    if (isFav) {
      // favBtn.removeClass('btn-outline-primary')
      favBtn.addClass('card-link-warning');
      favBtn.html('<i class="fas fa-star"></i>');
      favBtn.tooltip(
          {title:'Click to remove from Favorites', placement: 'right'});
    } else {
      favBtn.removeClass('card-link-warning')
      // favBtn.addClass('btn-outline-primary')
      favBtn.html('<i class="fas fa-star"></i> Add to Favorites');
      favBtn.tooltip('dispose');
    }
  }

  $(document).ready(function () {

    const favPersistor = new Persistor('Mini-Conf-Favorite-Papers');

    let isFav = favPersistor.get(paper_id);
    updateFavBtn(isFav)

    $('#favBtn').click(()=>{
      let isFav = favPersistor.get(paper_id) || false;
      favPersistor.set(paper_id, !isFav);
      updateFavBtn(!isFav);
    })
  })

</script>

{% endblock %}

{% block content %}


<!-- Title -->
<div class="card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="color: black">
      {{paper.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {% for author in paper.authors %}
      <a href="papers.html?filter=authors&search={{author}}&program=all" class="text-primary"
        >{{author}}</a
      >{{ "," if not loop.last }}
      {% endfor %}
    </h3>
   
    <div class="text-center p-3">
      {% if paper.paper_pdf %}
      <a class="card-link link-info" target="_blank" href="{{paper.paper_pdf}}">
        📝 Paper 
      </a>
      {% endif %}
      {% if paper.anthology_url %}
      <a class="card-link link-info" target="_blank" href="{{paper.anthology_url}}">
        <img src='/static/images/acl2023/acl-logo.png' height="20"></img> Anthology
      </a>
      {% endif %}
      {% if paper.underline_url %}
      <a class="card-link link-info" target="_blank" href="{{paper.underline_url}}">
        <img src='/static/images/underline.jpg' height="20"></img> Underline
      </a>
      {% endif %}
      {% if paper.poster_pdf %}
      <a class="card-link link-info" target="_blank" href="{{paper.poster_pdf}}">
        🪧 Poster
      </a>
      {% endif %}
      {% if paper.slides_pdf %}
      <a class="card-link link-info" target="_blank" href="{{paper.slides_pdf}}">
        🧑‍🏫 Slides
      </a>
      {% endif %}
      {% if paper.video_url %}
      <a class="card-link link-info" target="_blank" href="{{paper.video_url}}">
        📺 Video
      </a>
      {% endif %}
      {% if paper.underline_url %}
      <a class="card-link link-info" target="_blank" href="{{paper.underline_url}}">
        📺 Watch Video on Underline
      </a>
      {% endif %}
      {% if paper.code != blank %}
      <a href="{{paper.code}}" target="_blank" class="card-link link-info">
        Code
      </a>
      {% endif %}
      {% if paper.demo_url %}
      <a href="{{paper.demo_url}}" target="_blank" class="card-link link-info">
        Demo
      </a>
      {% endif %}
      {% if paper.program == "main" %}
      <a class="card-link" target="_blank" href="https://www.connectedpapers.com/conferece-redirect/main/{{ config.connected_papers_conference_name }}/{{paper.id}}/graph">
        Connected Papers
      </a>
      {% endif %}

      {% if paper.material %}
      {% for material in paper.material.split("|") %}
        <span class="card-link d-inline-block">{{ material|markdown }}</span>
      {% endfor %}
      {% endif %}
      
      <a href="#" id="favBtn" class="card-link">
        <i class="fas fa-star"></i> Add to Favorites
      </a>
    </div>
    <p class="card-text text-center h5">

      {% if paper.program in ['Main', 'Findings', 'Demo', 'Industry'] %}
     <a href="papers.html?program=main&track={{paper.track}}" class ="badge badge-pill badge-primary">{{paper.program}}: {{ paper.track }}</a>
     {% elif paper.program == "Workshop" %}
      <a href="papers.html?program=workshop&track={{paper.track}}" class ="badge badge-pill badge-primary">{{ paper.track }}</a>
      {% endif %}
      <span class="badge badge-secondary">{{ paper.paper_type | capitalize }} Paper</span>
    </p>

    {{ components.live_sessions(
        events,
        paper.title,
        "https://underline.io",
        false
        )
    }}
        {% if paper.keywords %}
        <div>
          <span class="font-weight-bold">Keywords:</span>
          {{paper.keywords | join(", ")}}
        </div>
        {% endif %}
        {% if paper.languages %}
        <div>
          <span class="font-weight-bold">Languages:</span>
          {{paper.languages | join(", ")}}
        </div>
        {% endif %}
        <div>
          <span class="font-weight-bold">TLDR:</span>
          {{paper.tldr}}
        </div>
  </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="chat-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="chat" aria-selected="true">RocketChat</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="abstract-tab" data-toggle="tab" href="#abstract" role="tab" aria-controls="abstract" aria-selected="false">Abstract</a>
  </li>
  {% if paper.paper_pdf %}
  <li class="nav-item">
    <a class="nav-link" id="paper-tab" data-toggle="tab" href="#paper" role="tab" aria-controls="paper" aria-selected="false">Paper</a>
  </li>
  {% endif %}
  {% if paper.poster_pdf %}
  <li class="nav-item">
    <a class="nav-link" id="poster-tab" data-toggle="tab" href="#poster" role="tab" aria-controls="poster" aria-selected="false">Poster</a>
  </li>
  {% endif %}
  {% if paper.slides_pdf %}
  <li class="nav-item">
    <a class="nav-link" id="slides-tab" data-toggle="tab" href="#slides" role="tab" aria-controls="slides" aria-selected="false">Slides</a>
  </li>
  {% endif %}
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="chat-tab">
{% if config.enable_chat %}
{% if paper.rocketchat_channel[6:15] == 'tutorials' %}
  {% set rocketchat = paper.rocketchat_channel[6:14] + paper.rocketchat_channel[15:] %}
{% else %}
  {% set rocketchat = paper.rocketchat_channel %}
{% endif %}
<div class="container" style="background-color:white; padding: 0px;">
  <div class="text-muted text-center">
    You can open the
    <a href="https://{{config.chat_server}}/channel/{{rocketchat}}"
       target="_blank">#{{rocketchat}}</a>
    channel in a separate window.
  </div>

  <!-- Chat -->
    <div id="gitter" class="slp">
      <iframe frameborder="0" src="https://{{config.chat_server}}/channel/{{rocketchat}}?layout=embedded" height="700px" width="100%" ></iframe>
    </div>
</div>
{% endif %}
  </div>
  <div class="tab-pane fade" id="abstract" role="tabpanel" aria-labelledby="abstract-tab">
    <div id="details" class="pp-card m-3">
      <div class="card-body">
        <div class="card-text">
          <div id="abstractExample">
            <span class="font-weight-bold">Abstract:</span>
            {{paper.abstract}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if paper.paper_pdf %}
  <div class="tab-pane fade" id="paper" role="tabpanel" aria-labelledby="paper-tab">
    <embed src="{{paper.paper_pdf}}" type="application/pdf" width="100%" height="850px">
  </div>
  {% endif %}
  {% if paper.poster_pdf %}
  <div class="tab-pane fade" id="poster" role="tabpanel" aria-labelledby="poster-tab">
    <embed src="{{paper.poster_pdf}}" type="application/pdf" width="100%" height="850px">
  </div>
  {% endif %}
  {% if paper.slides_pdf %}
  <div class="tab-pane fade" id="slides" role="tabpanel" aria-labelledby="slides-tab">
    <embed src="{{paper.slides_pdf}}" type="application/pdf" width="100%" height="700px">
  </div>
  {% endif %}
</div>



{% if config.connected_papers_conference_name and paper.program == "main" %}
<div class="container">
  {{ components.section("Connected Papers in ACL2023") }}
  <iframe width="100%" height="600px" loading="lazy" style="border:none;"
            src="https://www.connectedpapers.com/conferece-redirect/conference/{{ config.connected_papers_conference_name }}/{{ paper.id }}/graph">
  </iframe>
</div>
{% endif %}

{% if paper_recs %}
{{ components.section("Similar Papers") }}
<div class="container" >
  <div class="row">
  {% for recommended in paper_recs %}
    <div class="col-md-4 col-xs-6">
      <div class="pp-card card" >
        <div class="card-header pp-card-header " class="text-muted">
          <a href="paper_{{recommended.id}}.html" class="text-muted">
            <h5 class="card-title" align="center">{{recommended.title}}</h5>
          </a>
          <h6 class="card-subtitle text-muted" align="center">
             {% for a in recommended.authors %}
             {{a}},
             {% endfor %}
          </h6>
          <center>
              <img class="cards_img" src="{{recommended.preview_image}}" onerror="javascript:this.onerror=null;this.src=''" width="80%"/>
          </center>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}

<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>

{% endblock %}
