{% extends "base.html" %}
{% set page_title = "Sessions" %}

{% block heading %}
{{ components.section("Paper Sessions") }}
{% endblock %}

{% block tabs %}
{{ components.tabs(session_days) }}
{% endblock %}

{% block content %}
<div class="tab-content" id="nav-tabContent">

    {% for (tab_id, day, active) in session_days %}
    <div
            class="tab-pane fade {{ 'active show' if active else '' }}"
            id="tab-{{ tab_id }}"
            role="tabpanel"
            aria-labelledby="nav-profile-tab"
    >

        <div id="{{ tab_id }}">
            <div class="plenary_sessions">
                <hr/>
                {% for session in sessions[day] %}
                {% if session.type not in excluded_session_types and not session.name.startswith('Diversity and Inclusion') %}
                <div class="row p-4 col-md-12">
                    <a name="{{ session.uid }}">
                        <h5>{{ session.name }}</h5>
                            <div>Day: {{session.day}}</div>
                            <div>{{ session.conference_datetime }}</div>
                            <div class="session_times">
                                {{session.session}} {{session.time_string}}
                            </div>
                    </a>
                    {% for event_type in event_types %}
                        {% if session.events.values()|selectattr('type', 'equalto', event_type)|list|length > 0 %}
                            <div class="col-12">
                                <h5>{{ event_type }} Presentations</h5>
                            <hr/>
                            </div>
                            {% for event in session.events.values() %}
                            {% if event_type == event.type %}
                            <div class="col-12 mb-4">
                                <strong>{{ event.track }} ({{ event.type }}), Room: {{ event.room }}</strong>
                                <ul>
                                    {% for paper_id in event.paper_ids %}
                                    {% set paper = papers[paper_id] %}
                                    <li>
                                        <a href="paper_{{paper.id}}.html" target="_blank">
                                            {{ paper.title }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
    {% endfor %}
</div>


<script src="static/js/time-extend.js"></script>
<script>
    $(document).ready(() => {
        add_local_tz('.session_times');
    });
</script>

{% endblock %}
