{% extends "base.html" %}
{% set page_title = "Sessions" %}

{% block heading %}
{{ components.section("Paper Sessions") }}
{% endblock %}

{% block tabs %}
{{ components.tabs(session_days) }}
{% endblock %}

{% block content %}
<div class="tab-content" id="nav-tabContent">

    {% for (tab_id, day, active) in session_days %}
    <div class="tab-pane fade {{ 'active show' if active else '' }}" id="tab-{{ tab_id }}" role="tabpanel"
        aria-labelledby="nav-profile-tab">

        <div id="{{ tab_id }}">
            <div class="plenary_sessions">
                <hr />
                <span>
                    Timezone:
                    <span class="badge badge-primary">Conference (Toronto)</span>
                    <span class="badge badge-secondary">UTC</span>
                    <span class="badge badge-info">Browser</span>
                </span>
                {% for session in sessions[day] %}
                {% if session.type not in excluded_session_types and not session.name.startswith('Diversity and
                Inclusion') %}
                <div class="row p-4 col-md-12" id="{{ session.id }}">
                    {% if session.type == 'Tutorials' %}
                    <div class="row col-12">
                        {% set tutorial_event = session.tutorial_events | take_one %}
                        <h3><a href="/tutorial_{{ tutorial_event.id }}.html">{{ session.name }}</a></h3>
                    </div>
                    {% elif session.type == 'Workshops' %}
                    <div class="row col-12">
                        {% set w_event = session.workshop_events | take_one %}
                        <h3><a href="/workshop_{{ w_event.id }}.html">{{ session.name }}</a></h3>
                    </div>
                    {% else %}
                    <div class="row col-12">
                        <h3>{{ session.name }}</h3>
                    </div>
                    {% endif %}
                    <div class="row col-12">
                        <div class="col-12">⏰ Time: {{ session.conference_datetime }} <span
                                class="badge badge-primary">Conference</span></div>
                        <div class="col-12">
                            ⏰ Time: <span class="session_times">{{session.session}} {{session.time_string}}</span>
                            <span class="badge badge-secondary">UTC</span> /
                            <span class="badge badge-info">Browser</span>
                        </div>
                    </div>
                    {% for event_type in event_types %}
                    {% if session.events.values()|selectattr('type', 'equalto', event_type)|list|length > 0 %}
                    <div class="col-12">
                        <h5>{{ event_type }} Presentations</h5>
                        <hr />
                    </div>
                    {% for event in session.events.values() %}
                    {% if event_type == event.type %}
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="row" id="{{ event.id }}">
                                    <div class='col-sm-7'>
                                        <h5 class='text-left'>{{ event.track }} ({{ event.type }})</h5>
                                    </div>
                                    <div class="col-sm-5">
                                        <h5 class='text-right'>Room: {{ event.room }}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                <ul>
                                    {% for paper_id in event.paper_ids %}
                                    {% set paper = papers[paper_id] %}
                                    {% set prev_paper_id = loop.previtem %}
                                        {% if event.type == 'Spotlight' %}
                                        {% if prev_paper_id is defined %}
                                        {% if papers[prev_paper_id].display_track != paper.display_track %}
                                        <li class="display-track-item"><b>Track: {{ paper.display_track }}</b></li>
                                        {% endif %}
                                        {% else %}
                                        <li class="display-track-item"><b>Track: {{ paper.display_track }}</b></li>
                                        {% endif %}
                                        {% endif %}
                                    <li>
                                        <a href="paper_{{paper.id}}.html" target="_blank">
                                            {{ paper.title }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                </p>
                            </div>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
    {% endfor %}
</div>


<script src="static/js/time-extend.js"></script>
<script>
    $(document).ready(() => {
        add_local_tz('.session_times');
        var hash = window.location.hash;
        if (hash.startsWith('#link-')) {
            var parts = hash.split('-')
            if (parts.length >= 2) {
                var tab_link = parts[0] + '-' + parts[1];
                console.log('Clicking:' + tab_link);
                $(tab_link).trigger("click");
                if (parts.length >= 3) {
                    var event_link = parts.slice(2).join('-');
                    console.log('Href to: ' + event_link);
                    location.href = '#' + event_link;
                }
            }

        }
    });

</script>

{% endblock %}