{% extends "base.html" %}
{% set page_title = "Q&A Sessions" %}

{% block heading %}
{{ components.section("Paper Sessions") }}
Each <a class="text" href="papers.html" >paper</a> has a pre-recorded 7-12 minute talk,
        one live Q&A video sessions (on Zoom or in Gather.Town) at different times, and a linked RocketChat channel (for chatting anytime with the author).
        This includes <a class="text" href="papers.html?filter=titles&program=demo&track=All+tracks" >System Demonstrations</a> papers</a>.
{% endblock %}

{% block tabs %}
{{ components.tabs(session_days) }}
{% endblock %}

{% block content %}
<div class="tab-content" id="nav-tabContent">

    {% for (tab_id, day, active) in session_days %}
    <div
            class="tab-pane fade {{ 'active show' if active else '' }}"
            id="tab-{{ tab_id }}"
            role="tabpanel"
            aria-labelledby="nav-profile-tab"
    >

        <div id="{{ tab_id }}">
            <div class="plenary_sessions">
                <hr/>
                {% for session in sessions[day] %}
                <div class="row p-4 col-md-12">

                    <a name="{{ session.uid }}">
                        <h5>{{ session.name }}:
                            {{session.day}},
                            <span class="session_times">{{session.session}} {{session.time_string}}</span>
                        </h5>
                    </a>
                    {% for event_type in event_types %}
                        {% if session.events.values()|selectattr('type', 'equalto', event_type)|list|length > 0 %}
                            <div class="col-12">
                                <h5>{{ event_type }} Presentations</h5>
                            <hr/>
                            </div>
                            {% for event in session.events.values() %}
                            {% if event_type == event.type %}
                            <div class="col-12 mb-4">
                                <strong>{{ event.track }} ({{ event.type }}), Room: {{ event.room }}</strong>
                                <ul>
                                    {% for paper_id in event.paper_ids %}
                                    {% set paper = papers[paper_id] %}
                                    <li>
                                        <a href="paper_{{paper.id}}.html" target="_blank">
                                            {{ paper.title }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    {% endfor %}
</div>


<script src="static/js/time-extend.js"></script>
<script>
    $(document).ready(() => {
        add_local_tz('.session_times');
    });
</script>

{% endblock %}
