{% extends "base.html" %}
{% set active_page = "Tutorials" %}
{% set page_title = "Tutorials" %}

{% block heading %}
{{ components.section("Tutorials") }}

<div class="text-center text-muted">
    Below are the tutorials to be held on July 9th and July 10th, 2023.<br/>
    You can also view the schedule by going to the "day" view on the <a href="schedule.html" target="_blank">Schedule</a>
    page for July 9 and July 10.</div>
{% endblock %}

{% block content %}
<div class="tutorials">
  {{ components.tutorialgroup(tutorials) }}
</div>

<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>
{% endblock %}
