{% set page_title = workshop.short_name %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{workshop.short_name}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      Organizers: 
      {% for author in workshop.committee %}
      <a href="papers.html?filter=authors&search={{author.full_name}}&program=all"
        class="text-primary link-primary">{{author.full_name}}</a>{{
      "," if not loop.last }}
      {% endfor %}
    </h3>
    <div class="text-muted text-center">
      {{workshop.description|safe}}
    </div>
    <div class="text-center p-3">
      {% if workshop.workshop_site_url %}
      <a href="{{workshop.workshop_site_url}}" target="_blank" class="link-success">
        External Website
      </a>
      {% endif %}


    </div>

  </div>

  <!-- Schedule -->
  <!-- {% if workshop.sessions %}
  <div id="schedule" class="collapse" aria-labelledby="schedule">
    <div class="card-body">
      <table class="table table-bordered table-striped" style="font-size: small;">
        <thead>
          <tr>
            <th scope="col" style="width: 20%;">Time (PDT)</th>
            <th scope="col" style="width: 50%;">Event</th>
            <th scope="col">Hosts</th>
          </tr>
        </thead>
        <tbody>
          {% for event in workshop.sessions %}

          <tr>
            <td>
              {{event.day}}, <span class="session_times">{{event.time_string}}</span>
            </td>
            <td scope="row" style="white-space: pre-wrap;">{{event.session_name | markdown}}</td>
            <td style="white-space: pre-wrap;">{{event.hosts}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
-->

  <div class="container" style="background-color:white; padding: 0px;">
    <div class="text-muted text-center">
      You can open
      the
      <a href="https://{{ config.chat_server }}/channel/{{ rocketchat_channel }}" target="_blank">
        #{{ rocketchat_channel }}
      </a>
      channel in separate windows.

    </div>

    <div class="row m-2">
      <div class="container" style="background-color:white; padding: 0px;">
        <!-- Chat -->
        <div id="gitter" class="slp">
          <iframe frameborder="0"
            src="https://{{ config.chat_server }}/channel/{{ rocketchat_channel }}?layout=embedded" height="700px"
            width="100%"></iframe>
        </div>
      </div>
    </div>
    <div class="row"><div class="col-12"><h3 class="text-center">Workshop Papers</h3></div></div>
    <div class="row" style='margin: 15px;'>
      {% for paper in papers %}
      <div class="col-12" style="margin-bottom: 15px;">
        <div class="card">
          <div class="card-header">
            {{ paper.title }}
          </div>
          <div class="card-body">
            <h5 class="card-title">Authors: {{ paper.authors | join(', ') }}</h5>
            <p class="card-text">{{ paper.abstract }}</p>
            <a href="/paper_{{paper.id}}.html" class="btn btn-primary">Go to Paper</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


    <script src="static/js/time-extend.js"></script>
    <script>
      $(document).ready(() => {
        add_local_tz('.session_times');
      })
    </script>

    {% endblock %}